<div class="img-bg">
	<section class="content">
		<p>
			<select class="js-example-data-ajax js-states form-control" style="width: 100%"></select>
		</p>
	</section>
</div>
<div class="container result">
	<div id="single-rs-holder"></div>
	<div id="multiple-rs-holder"></div>
</div>

<script>
	$ajax = $(".js-example-data-ajax");
	var obj = $ajax.select2({
		placeholder: "Search a name",
		highlight: true,
		multiple: true,
		ajax: {
			url: "<%= root_path %>",
			dataType: 'json',
			cache: true,
			delay: 300,
			data: function (params) {
				return {
					query: params.term, // search term
					page: params.page
				};
			},
			processResults: function (data, params) {
				params.page = params.page || 1;
				obj.cache = obj.cache || [];
				obj.cache[params.term] = data;

				return {
					results: data.doctors,
					pagination: {
						more:  10 <= data.doctors.length
					}
				};
			},
		},
		escapeMarkup: function (markup) { return markup; },
		minimumInputLength: 2,
		maximumSelectionLength: 1,
		templateResult: formatRepo,
		templateSelection: formatRepoSelection
	});
	$ajax.on("select2:selecting", function(e) {
		window.test = e;
		console.log(e);
	});
</script>

