<div class="img-bg">
	<div class="text-center" style="padding: 0px 10px;">
		<h1 class="text-center slogan"> Finding a doctor has never been easier </h1>
	</div>
	<section class="content col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<p>
			<select class="js-example-data-ajax js-states form-control" style="width: 100%"></select>
		</p>
	</section>
</div>
<div class="container bs-result">
	<div id="single-rs-holder">
		<h3 class="text-center" id="bs-name"></h3>
		<div class="col-sm-12 col-md-6 col-md-offset-3 bs-attrs">
			<div>
				<div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 bs-img-holder">

				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 bs-info-holder">
					<h5>
						<div class="info-row">
							<div class="col-xs-6 col-sm-6"><span> Title </span></div>
							<div class="col-xs-6 col-sm-6"><b id="bs-title"></b></div>
						</div>
						<div class="info-row">
							<div class="col-xs-6 col-sm-6"><span> Gender </span></div>
							<div class="col-xs-6 col-sm-6"><b id="bs-gender"></b></div>
						</div>
						<div class="info-row">
							<div class="col-xs-12 col-sm-12"><span> Specialties </span></div>
							<div class="col-xs-12 col-sm-12"><ul id="bs-specialties" ></ul></div>
						</div>
						<div class="info-row">
							<div class="col-xs-6 col-sm-6"><span> Rating </span></div>
							<div class="col-xs-12 col-sm-6"><b id="bs-rating"></b></div>
						</div>
					</h5>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div>
				<div class="col-sm-12"><b> Bio </b></div>
				<div class="col-sm-12"><p id="bs-bio"></p></div>
			</div>
		</div>
	</div>
	<div id="multiple-rs-holder"></div>
</div>

<script>
	$(document).ready(function() {
		$ajax = $(".js-example-data-ajax");
		var obj = $ajax.select2({
			placeholder: "Search a name",
			multiple: true,
			allowClear: true,
			minimumInputLength: 2,
			ajax: {
				url: "<%= root_path %>",
				dataType: 'json',
				cache: true,
				delay: 300,
				data: function (params) {
					return {
						query: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;

					return {
						results: data.doctors,
						pagination: {
							more:  10 <= data.doctors.length
						}
					};
				},
			},
			escapeMarkup: function (markup) { return markup; },
			maximumSelectionLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});

		$ajax.on("select2:selecting", function(e) {
			var data = e.params.args.data;
			$("html, body").animate({ scrollTop: "130px" },600);
			popInfo(data)
			console.log(e);
		});
		$ajax.on("change",function(e) {
			window.test = e;
			console.log(e)
		})
	})
</script>

