@import "_sass/*";

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: white;
  border: 0px;
}

.select2-selection__choice__remove {
  display: none !important;
}

.select2-container--focus .select2-autocomplete .select2-selection__choice {
  display: none;
}


.select2-search__field {
	height: 34px;
	line-height: 34px;
	font-size: 20px;
}
.select2-selection__rendered li {
	font-size: 20px;
	line-height: 34px;
}

.bs-result {
	margin-top: 10px;
	#bs-name {
		color: #333;
	}
	.bs-attrs {
		border-top: 1px solid #aeaeae;
		padding-top: 10px;
	}
}
.bs-img-holder {
	text-align: center;
	max-height: 270px;
	overflow-y: hidden;
	overflow-x: hidden;
	img {
		width: 100%;
	}
}
.bs-info-holder h5 div {
	margin-bottom: 10px;
}


.img-bg {
	/*background-image: url(background-photo.jpg);*/
	background-image: url(http://i.imgsafe.org/9866542.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	height: 300px;
	position: relative;
	.content {
		padding-top: 10px;
		input {
			width: 100%;
		}
	}
}

#single-rs-holder {
	display: none;
}

.bor {
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
}

.slogan {
	color: white;
	margin-top:0px;
	display: inline-block;
	padding: 80px 50px 4px;
	box-shadow: 0px 1px #aeaeae;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 300px;
}
.select2-results__option.loading-results + .select2-results__option {
	display: none;
}

.info-row  div:last-child {
	word-wrap: break-word;
}

#bs-specialties {
	padding: 0px 0px 0px 10px;
}



@media only screen and (max-width: 767px) {
  .img-bg {
    /*background-image: url(background-photo-mobile-devices.jpg);*/
    background-image: url(http://i.imgsafe.org/d1894d6.jpg);
  }
	.select2-search__field {
		font-size: 16px;
	}
	.select2-selection__rendered li {
		font-size: 16px;
	}
	.slogan {
		font-size: 28px;
		padding: 80px 30px 4px;
	}
}

@media only screen and (max-width: 578px) {
	.slogan {
		font-size: 20px;
		padding: 80px 10px 4px;
	}
}
