<header class="header">
	<div class="nav-header">
		<div class="nav">
			<a href="/" class="nav-logo">
				<strong class="org-st">Doctor</strong>Hunt
			</a>
			<div class="clearfix clear"></div>
		</div>
	</div>
</header>
